/* HeroSection Animations */

/* Animation for text in item2 */
.hero-carousel .list .item:nth-child(2) .introduce .tag,
.hero-carousel .list .item:nth-child(2) .introduce .name,
.hero-carousel .list .item:nth-child(2) .introduce .des,
.hero-carousel .list .item:nth-child(2) .introduce .cta-button {
    opacity: 0;
    animation: showContent 0.5s 0.8s ease-in-out 1 forwards;
}

@keyframes showContent {
    from {
        transform: translateY(-30px) translateZ(0);
        filter: blur(10px);
    }
    to {
        transform: translateY(0) translateZ(0);
        opacity: 1;
        filter: blur(0px);
    }
}

.hero-carousel .list .item:nth-child(2) .introduce .name {
    animation-delay: 1s;
}

.hero-carousel .list .item:nth-child(2) .introduce .des {
    animation-delay: 1.2s;
}

.hero-carousel .list .item:nth-child(2) .introduce .cta-button {
    animation-delay: 1.4s;
}

/* Next click animations */
.hero-carousel.next .item:nth-child(1) {
    animation: transformFromPosition2 0.5s ease-in-out 1 forwards;
}

@keyframes transformFromPosition2 {
    from {
        transform: var(--hero-item2-transform) translateZ(0);
        filter: var(--hero-item2-filter);
        opacity: var(--hero-item2-opacity);
    }
}

.hero-carousel.next .item:nth-child(2) {
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}

@keyframes transformFromPosition3 {
    from {
        transform: var(--hero-item3-transform) translateZ(0);
        filter: var(--hero-item3-filter);
        opacity: var(--hero-item3-opacity);
    }
}

.hero-carousel.next .item:nth-child(3) {
    animation: transformFromPosition4 0.9s ease-in-out 1 forwards;
}

@keyframes transformFromPosition4 {
    from {
        transform: var(--hero-item4-transform) translateZ(0);
        filter: var(--hero-item4-filter);
        opacity: var(--hero-item4-opacity);
    }
}

.hero-carousel.next .item:nth-child(4) {
    animation: transformFromPosition5 1.1s ease-in-out 1 forwards;
}

@keyframes transformFromPosition5 {
    from {
        transform: var(--hero-item5-transform) translateZ(0);
        filter: var(--hero-item5-filter);
        opacity: var(--hero-item5-opacity);
    }
}

/* Previous animations */
.hero-carousel.prev .list .item:nth-child(5) {
    animation: transformFromPosition4 0.5s ease-in-out 1 forwards;
}

.hero-carousel.prev .list .item:nth-child(4) {
    animation: transformFromPosition3 0.7s ease-in-out 1 forwards;
}

.hero-carousel.prev .list .item:nth-child(3) {
    animation: transformFromPosition2 0.9s ease-in-out 1 forwards;
}

.hero-carousel.prev .list .item:nth-child(2) {
    animation: transformFromPosition1 1.1s ease-in-out 1 forwards;
}

@keyframes transformFromPosition1 {
    from {
        transform: var(--hero-item1-transform) translateZ(0);
        filter: var(--hero-item1-filter);
        opacity: var(--hero-item1-opacity);
    }
}
