/* HeroSection Responsive Styles */

@media screen and (max-width: 991px) {
    .hero-carousel {
        height: 80vh;
        min-height: 500px;
    }

    .hero-carousel .list .item {
        width: 90%;
    }

    .hero-carousel .list .item .introduce .topic {
        font-size: 3em;
    }
}

@media screen and (max-width: 767px) {
    .hero-carousel {
        height: 70vh;
        min-height: 450px;
    }

    .hero-carousel .list .item {
        width: 100%;
        font-size: 12px;
    }

    .hero-carousel .list .item:nth-child(2) .introduce {
        width: 50%;
    }

    .hero-carousel .list .item img {
        width: 45%;
    }

    .hero-carousel .list .item .introduce .topic {
        font-size: 2.5em;
    }

    .hero-carousel .arrows button {
        width: 40px;
        height: 40px;
        font-size: 1em;
    }
}
