/* Remove number input spinners*/
.quantity-input::-webkit-inner-spin-button,
.quantity-input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.quantity-input[type=number] {
  -moz-appearance: textfield;
}

/* Mobile padding compensation for fixed action bar */
@media (max-width: 767px) {
  .max-w-\[1400px\] {
    padding-bottom: 80px;
  }
}
